﻿@model VeterinariaESI.Models.Cliente

@{
    ViewBag.Title = "Create";
}


<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Cliente</h4>
        <hr />

            <div class="form-group col-lg-4">
                <div class="form-label-group-select">
                    @Html.LabelFor(model => model.IDTipoDocumento, "IDTipoDocumento", htmlAttributes: new { @class = "" })

                    @Html.DropDownList("IDTipoDocumento", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IDTipoDocumento, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="form-group col-lg-4">
                <div class="form-label-group">

                    @Html.EditorFor(model => model.Documento, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Documento, "", new { @class = "text-danger" })

                    @Html.LabelFor(model => model.Documento, htmlAttributes: new { @class = " " })

                </div>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group col-lg-4">
                <div class="form-label-group-datetime">

                    @Html.EditorFor(model => model.FechaNacimiento, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })

                    @Html.LabelFor(model => model.FechaNacimiento, htmlAttributes: new { @class = "" })

                </div>
            </div>

            <div class="form-group col-lg-4">
                <div class="form-label-group">

                    @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nombres, "", new { @class = "text-danger" })

                    @Html.LabelFor(model => model.Nombres, htmlAttributes: new { @class = "" })

                </div>
            </div>



            <div class="form-group col-lg-4">
                <div class="form-label-group">

                    @Html.EditorFor(model => model.ApellidoPat, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ApellidoPat, "", new { @class = "text-danger" })

                    @Html.LabelFor(model => model.ApellidoPat, htmlAttributes: new { @class = " " })

                </div>
            </div>

            <div class="form-group col-lg-4">
                <div class="form-label-group">

                    @Html.EditorFor(model => model.ApellidoMat, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ApellidoMat, "", new { @class = "text-danger" })

                    @Html.LabelFor(model => model.ApellidoMat, htmlAttributes: new { @class = " " })

                </div>
            </div>


            <div class="form-group col-lg-4">
                <div class="form-label-group">

                    @Html.EditorFor(model => model.TelefonoFijo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TelefonoFijo, "", new { @class = "text-danger" })

                    @Html.LabelFor(model => model.TelefonoFijo, htmlAttributes: new { @class = " " })

                </div>
            </div>


            <div class="form-group col-lg-4">
                <div class="form-label-group">

                    @Html.EditorFor(model => model.TelefonoMovil, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TelefonoMovil, "", new { @class = "" })

                    @Html.LabelFor(model => model.TelefonoMovil, htmlAttributes: new { @class = "" })

                </div>
            </div>


            <div class="form-group col-lg-4">
                <div class="form-label-group">

                    @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "" })

                    @Html.LabelFor(model => model.Correo, htmlAttributes: new { @class = "" })

                </div>
            </div>


            <div class="form-group col-lg-4">
                <div class="form-label-group">

                   @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "" })

                    @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "" })

                </div>
            </div>

     
            <div class="form-group col-lg-4">
                <div class="form-label-group-select">
                    @Html.LabelFor(model => model.IDUsuario, "IDUsuario", htmlAttributes: new { @class = "" })

                 @Html.DropDownList("IDUsuario", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IDUsuario, "", new { @class = "text-danger" })

                </div>
            </div>


            <div class="form-group" >
                <div class="col-md-offset-2 col-md-10" style="text-align: right">
                    <input type="submit" value="Guardar" class="btn btn-success" />
                </div>
            </div>
   

        </div>

        }
        
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
