﻿@model VeterinariaESI.Models.Cliente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoPat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoPat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoMat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoMat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoFijo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoFijo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoMovil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoMovil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Documento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Documento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoDocumento.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDocumento.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDCliente }) |
    @Html.ActionLink("Back to List", "Index")
</p>
