﻿@model IEnumerable<VeterinariaESI.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Clientes</h2>

    <div class="form-group" style="margin-bottom:30px; margin-top:30px;">
        <label class="">Buscar Cliente</label>
        <div class="col-md-12" style="padding-left:0px;">
            <input class="form-control" />
        </div>
    </div>
    <p class="optionRight">
        @Html.ActionLink("Nuevo Cliente", "Create")
    </p>
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoPat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoMat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefonoFijo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefonoMovil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documento)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.TipoDocumento.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario.Nombre)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApellidoPat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApellidoMat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TelefonoFijo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TelefonoMovil)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Correo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Documento)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.FechaNacimiento)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.TipoDocumento.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Nombre)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.IDCliente }) |
                    @Html.ActionLink("Detalle", "Details", new { id = item.IDCliente }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IDCliente })
                </td>
            </tr>
        }

    </table>
