﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SANICAN</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
            .form-label-group {
                position: relative;
            }

            .form-label-group-select {
                position: relative;
            }

                .form-label-group-select select {
                    height: 60px !important;
                }

            .form-label-group-area {
                position: relative;
            }

                .form-label-group-area select {
                    height: 60px !important;
                }

            .form-label-group > input,
            .form-label-group > label {
                padding-top: 1.5rem;
                padding-right: 0.375rem;
                padding-bottom: 0.375rem;
                padding-left: 0.375rem;
                height:60px !important;
            }

            .form-label-group-datetime > input /* ,
        .form-label-group-datetime > label*/ {
                padding-top: 1.5rem;
                padding-right: 0.375rem;
                padding-bottom: 0.375rem;
                padding-left: 0.375rem;
                 height: 60px !important;
            }

            .form-label-group-datetime > label {
                padding-right: 0.375rem;
                padding-bottom: 0.375rem;
                padding-left: 0.375rem;
            }

            .form-label-group-select > label {
                padding-top: 0.375rem;
                padding-right: 0.375rem;
                padding-bottom: 0.375rem;
                padding-left: 0.375rem;
                font-size: 12px;
            }

            .form-label-group-select > select {
                padding-top: 1.5rem;
                padding-right: 0.375rem;
                padding-bottom: 0.375rem;
                padding-left: 0.175rem;
            }

            .form-label-group-area > textarea {
                padding-top: 1.5rem;
                padding-right: 0.375rem;
                padding-bottom: 0.375rem;
                padding-left: 0.375rem;
            }

            .form-label-group > label {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                margin-bottom: 0; /* Override default `<label>` margin */
                line-height: 1.5;
                color: #495057;
                border: 1px solid transparent;
                border-radius: .25rem;
                transition: all .1s ease-in-out;
            }

            .form-label-group-select > label {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                opacity: 0.5;
                margin-bottom: 0; /* Override default `<label>` margin */
                line-height: 1.5;
                color: #495057;
                border: 1px solid transparent;
                border-radius: .25rem;
                transition: all .1s ease-in-out;
            }

            .form-label-group-datetime > label {
                position: absolute;
                top: 0px;
                display: block;
                opacity: 0.5;
                margin-bottom: 0; /* Override default `<label>` margin */
                line-height: 1.5;
                color: #495057;
                border: 1px solid transparent;
                border-radius: .25rem;
                transition: all .1s ease-in-out;
                font-size: 12px;
            }

            .form-label-group-area > label {
                position: absolute;
                top: 0;
                padding-left: 0.375rem;
                padding-top: calc(.75rem / 3);
                padding-bottom: calc(.75rem / 3);
                font-size: 12px;
                color: #777;
                display: block;
                opacity: 0.5;
                margin-bottom: 0; /* Override default `<label>` margin */
                line-height: 1.5;
                color: #495057;
                border: 1px solid transparent;
                border-radius: .25rem;
                transition: all .1s ease-in-out;
            }

            .form-label-group input::-webkit-input-placeholder {
                color: transparent;
            }

            .form-label-group input:-ms-input-placeholder {
                color: transparent;
            }

            .form-label-group input::-ms-input-placeholder {
                color: transparent;
            }

            .form-label-group input::-moz-placeholder {
                color: transparent;
            }

            .form-label-group input::placeholder {
                color: transparent;
            }

            .form-label-group input:not(:placeholder-shown) ~ label {
                padding-top: calc(.75rem / 3);
                padding-bottom: calc(.75rem / 3);
                font-size: 12px;
                color: #777;
            }

            .form-label-group-area input:not(:placeholder-shown) ~ label {
                padding-top: calc(.75rem / 3);
                padding-bottom: calc(.75rem / 3);
                font-size: 12px;
                color: #777;
            }

            .select2-container--default .select2-results > .select2-results__options {
                max-height: 500px;
            }
            input,
            select,
            textarea {
                max-width: 500px !important;
                margin-right:15px;
            }
            .form-horizontal .form-group {
             margin-right:0px !important;
            }
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SANICAN", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>*@
                   
                    <li>@Html.ActionLink("Clientes", "Index", "Clientes")</li>
                    <li>@Html.ActionLink("Ventas", "Index", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
