﻿@{
    ViewBag.Title = "SANICAN";
}

    <div class="" style="margin-top:50px;">
        <div class="col-lg-3 col-sm-6 text-center m-3">
            <a href="@Url.Action("Index", "clientes")">
                <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" />
            </a>
            <h3>Clientes</h3>
        </div>

        <div class="col-lg-3 col-sm-6 text-center mb-4">
            <a href="@Url.Action("Index", "clientes")">
                <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" />
            </a>
            <h3>Ventas</h3>
        </div>
    </div>

    @*<div class="jumbotron">
            <h1>ASP.NET</h1>
            <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
            <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>*@

    <div class="row">
        @*<div class="col-md-4">
                <h2>Getting started</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>*@
    </div>
